<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hospital Pricing</title>
  </head>
  <body>
    <div class="jumbotron header">
        <h1 class="display-4 text-center text-uppercase" >Hospital Pricing</h1>
        <h3 class="text-center text-uppercase" >Trusted Commitee</h3>
    </div>
    <div class="container" style = "padding-top:40px;">
      <button type="button" class="btn btn-primary" onclick="location.href = '/trusted-commitee';">Back</button>
      <div class="p-1" style = "background-color: blueviolet;width:200px;border-radius: 3px;float: right;"><center><p class="my-auto" style = "color: white;">{{hospital_from_db['category']}}</p></center></div>
      <div class="row">
        <div class="card-body"  style = "width:100%;">
          <div class="card shadow">
        <div class="span4">
          <img class="img-left mr-4"  height = "320px" width="30%" src="/image/{{hospital_from_db['_id']}}">
          <div class="content-heading"  style = "padding-top:40px;">
            <h1>{{hospital_from_db['hospital_name']}}</h1>
            <p style = "font-size: 17px;">{{hospital_from_db['description']}}</p></br>
            <p><b>ADDRESS: </b>{{hospital_from_db['address']}}</p>
            <p><b>CONTACT: </b>{{hospital_from_db['contact']}}</p>
        </div>
        </div>
      </div>

</br>
</br>

<div class="container-lg">
<div class="table-responsive">
    <div class="table-wrapper">			
        <div class="table-title">
            <div class="row" >
                <div class="col-sm-6">
                    <h2 >Treatment Details</h2>
                </div>
                <div class="col-sm-6">
                    <div class="search-box">
                        <div class="input-group">								
                            <input type="text" id="search" class="form-control" placeholder="Search by Treatment Name">
                            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width: 22%;">Treatment Name</th>
                    <th style="width: 22%;">Cost</th>
                </tr>
            </thead>
            <tbody>
              {% for i in range(hospital_from_db['field']| length) %}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{hospital_from_db['field'][i]}}</td>
                    <td>{{hospital_from_db['price'][i]}} {{hospital_from_db['currency']}}</td>
                </tr>
               {% endfor %}  
            </tbody>
        </table>
    </div>
</div>        
 
</div> 

  <!-- <div  class="block">
    <div class="row">
      <div class="span4"  style = "padding-top: 5%;padding-left: 5%; ">
        <img  class="img-left" src="assets/img/hospital.jpg"/>
        <div class="content-heading" ><h1 >HOSPITAL NAME </h1>
        <p>SSDESCRIPTION IS HERE</p>
      </div>
      </div>
   </div>
   
  
</div> -->
</div>
</div>
<div class="mb-4">
    <div class="row">
      <div class="card-body"  style = "width:100%;">
        <div class="card shadow">
      <div class="span4">
        <div class="content-heading p-4">
          <p><b>CREATED BY: </b>{{hospital_from_db['created_by']}}</p>
          <p><b>CREATED AT: </b>{{hospital_from_db['created_at']}}</p>
          <p><b>UPDATED BY: </b>{{hospital_from_db['updated_by']}}</p>
          <p><b>UPDATED AT: </b>{{hospital_from_db['updated_at']}}</p>
          <a href="/trusted-commitee/hospital/update/{{hospital_from_db['_id']}}"><button class="btn btn-success mt-2mb-2" type="button">Update Hospital</button></a>
        <button class="btn btn-danger m-2" type="button" onclick="show_delete()" id="delete-1">Delete Hospital</button>
        <div id="delete-2" style="display:none;" class="m-2">
          <h6 class="red">Type <strong>{{hospital_from_db['hospital_name']}}-{{hospital_from_db['city']}}</strong> in below Text Field and click <strong>Confirm Delete</strong> to perform Delete Operation</h6>
          <form class="form-group row" action="/trusted-commitee/hospital/delete/{{hospital_from_db['_id']}}" method="POST">
          <div class="col-sm-8">
            <input type="text" class="form-control mb-2" id="url" placeholder="Type here" name="delete-input">
            <input type="hidden" class="form-control mb-2" id="url" value="{{hospital_from_db['hospital_name']}}-{{hospital_from_db['city']}}" name="hidden-input">
          </div>
          <div class="col-sm-4"><button class="btn btn-danger btn-block mb-2 bold">Confirm Delete</button></div>
        </form>
        </div>
      </div>
      </div>
    </div>
    
    </div>
    </div>

        </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      function show_delete() {
        delete1 = document.getElementById("delete-1")
        delete1.style.display = 'None'
        delete2 = document.getElementById("delete-2")
        delete2.style.display = 'block'
      }
    </script>
    <script>
      $(document).ready(function(){
     
        
      // Filter table rows based on searched term
        $("#search").on("keyup", function() {
            var term = $(this).val().toLowerCase();
            $("table tbody tr").each(function(){
                $row = $(this);
                var name = $row.find("td:nth-child(2)").text().toLowerCase();
                console.log(name);
                if(name.search(term) < 0){                
                    $row.hide();
                } else{
                    $row.show();
                }
            });
        });
    });
    </script>
  </body>
</html>