<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hospital Pricing</title>
  </head>
  <body>
    <div class="jumbotron header">
        <h1 class="display-4 text-center text-uppercase" >Hospital Pricing</h1>
        <h3 class="text-center text-uppercase" >Trusted Commitee</h3>
    </div>
    <div class="container main">
        <div class="dashboard d-flex justify-content-between mb-2">
          <h2><a href="/trusted-commitee">Trusted Commitee Dashboard</a></h2>
          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle green" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user['name']}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/trusted-commitee/user/my_profile">View profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="card-body"  style = "width:100%;">
              <div class="card shadow">
            <div class="span4">
              <div class="content-heading p-4">
                <h1>{{user_from_db['name']}}</h1>
                <p style = "font-size: 17px;color:black;">{{user_from_db['city']}}</p></br>
                <p><b>EMAIL ADDRESS: </b>{{user_from_db['email_id']}}</p>
                <p><b>REFERRED BY: </b>{{user_from_db['referred_by']}}</p>
                <p><b>JOINED AT: </b>{{user_from_db['joined_at']}}</p>
                <button type="button" class="btn btn-success" onclick="location.href = '/trusted-commitee';">Back</button>
            </div>
            </div>
          </div>
          </div>
          </div>
          </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>